<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <%- include('header') %>
    

    
    <ul>
        <% blogPosts.forEach(post => { %>
            <li>
                <h3><%= post.title %></h3>
                <p><%= post.content.substring(0, 100) %></p>
                <a class="read-more-btn" href="/post/<%= post.id %>">Read More</a>
                <div class="full-content" style="display: none;">
                    <p><%= post.content %></p>
                </div>
            </li>
        <% }); %>
    </ul>
    <a href="/new-post">Add New Post</a>
    

</body>
</html>
